<table class="table game-table" style="width: 100%">
  <thead>
    <tr>
      <th>id</th>
      <th>Result</th>
      <th>start time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr class="game">
        <td>
          <%= link_to game.external_id, game_path(game) %>
        </td>
        <td>
          <%= game.human_result %>
        </td>
        <td>
          <%= l game.created_at %>
        </td>
        <td>
          <%= link_to "show", game_path(game) %>
          <%= link_to "play.battlesnake.io", game.external_url %>
        </td>
      </div>
    <% end %>
  </tbody>
</table>

<%= paginate @games %>
